@model random_character_generator.Models.StoryElement
@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var name = fieldName.Substring(fieldName.LastIndexOf('.') + 1, fieldName.Length - fieldName.LastIndexOf('.') - 1);
}
<li>@name: <b>@Model.Element</b>
    @if (Model.UnlockedTraits != null && Model.UnlockedTraits.Any())
    {
        <ul>
            @foreach (var feat in Model.UnlockedTraits)
            {
                <li>You gain the <strong>@feat.TraitName</strong> trait</li>
            }
        </ul>
    }
    @if (Model.StoryFeats != null && Model.StoryFeats.Any())
    {
        <ul>
            @foreach (var feat in Model.StoryFeats)
            {
                <li>You gain the <strong>@feat</strong> story feat</li>
            }
        </ul>
    }
</li>
